<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="apple-touch-icon", sizes="180x180", href="../../favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="../../favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="../../favicons/favicon-16x16.png")
        link(rel="manifest", href="../../favicons/site.webmanifest")
        link(rel="mask-icon", href="../../favicons/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        title My Site
    body
        include ../../blocks/user-profile/user-profile.pug
        include ../../blocks/video/video.pug
        include ../../blocks/header/header.pug
        include ../../blocks/footer/footer.pug
        header
            +header("Альп-клуб ENERGY")
        main
            h1.about__title О нашем клубе
            p.about__text Спортивный клуб ENERGY был создан 10 октября 1973 года. Главные направления занятий клуба это альпинизм, скалолазание и ледолазание. Так же мы занимаемся спелеологией, туризмом, велоспортом, горными лыжами, сноубордом, слэклайном и многими другими видами спорта.<br><br>Integer rhoncus dapibus ultrices. Aliquam a tristique tortor. Fusce vel suscipit libero. Nunc et sapien nulla. Vestibulum arcu odio, luctus nec luctus vitae, convallis quis nunc. Praesent varius justo non orci porta pellentesque. In quis ex metus. Phasellus pretium placerat scelerisque. Proin imperdiet, quam vitae euismod ultrices, velit nibh fringilla sapien, et dictum erat mi ut magna. Donec ac porta felis. Ut a porttitor velit. Sed volutpat dictum nulla ut interdum. Aliquam id nisi vitae nibh dictum vestibulum ac et augue. Pellentesque nec purus dictum, fringilla sapien et, fringilla libero. Duis ullamcorper lorem eu sapien imperdiet euismod. Sed rhoncus neque non neque finibus, nec pretium est malesuada.
            .about__parallax.about__parallax_first
            p.about__text Начальный состав клуба ограничивался небольшой группой спелеологов, что и сформировало первое направление развития. В то время участники преодолевали большие трудности со снаряжением, описанием пещер и маршрутов и прочим. Но все трудности пали перед этими молодыми ребятами: всё создавалось своими руками - и снаряжение, и карты, и описания маршрутов. И всё ради пещер, ведь главное в нашем деле - энтузиазизм и воля к победе! Почти сразу к спелеологии присоединилось родственное скалолазание. Позже - альпинизм - самый суровый и экстремальный вид спорта.<br><br>Integer rhoncus dapibus ultrices. Aliquam a tristique tortor. Fusce vel suscipit libero. Nunc et sapien nulla. Vestibulum arcu odio, luctus nec luctus vitae, convallis quis nunc. Praesent varius justo non orci porta pellentesque. In quis ex metus. Phasellus pretium placerat scelerisque. Proin imperdiet, quam vitae euismod ultrices, velit nibh fringilla sapien, et dictum erat mi ut magna. Donec ac porta felis. Ut a porttitor velit. Sed volutpat dictum nulla ut interdum. Aliquam id nisi vitae nibh dictum vestibulum ac et augue. Pellentesque nec purus dictum, fringilla sapien et, fringilla libero.
            .about__parallax.about__parallax_second
            p.about__text За годы существования клуба мы обзавелись своими традициями, отличительными чертами и методами работы с новичками. Сегодня мы стройная организация со строгими правилами и огромным потенциалом. С каждым годом увеличиваются наборы новичков, а значит, увеличивается интерес к нашим видам спорта. Мы можем предложить практически всё, что нужно молодым (и не очень) парням и девчонкам. А именно: спорт, отдых, тёплую компанию и верных друзей. Не это ли важно сегодня?
            section.about__video-container
                +myVideo('https://www.youtube.com/embed/jL1zVdj1kcs')
            section.about__location-wrapper
                p.about__text.about__text_location Нас можно найти по адресу: Россия, Томская область, г.Томск, пр. Кирова, 2. Цокольный этаж, вход через вахту.
                .map-flex__container
                    .about__map-container
                        include ../../blocks/location/location.pug
                    .about__map-admin
                        p.about__text.about__text_location.about__text_nopadding-left За выдачей пропусков обращаться к Котейкину Ивану.
                        +user-profile('grey-orange', '../../images/ivan.png', 'Котейкин Иван', 'Вахтовик')
        footer
            +footer("../../images/alp-logo.gif")
        script(src="about.bundle.js")