<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="apple-touch-icon", sizes="180x180", href="../../favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="../../favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="../../favicons/favicon-16x16.png")
        link(rel="manifest", href="../../favicons/site.webmanifest")
        link(rel="mask-icon", href="../../favicons/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        title My Site
    body
        include ../../blocks/user-profile/user-profile.pug
        include ../../blocks/header/header.pug
        include ../../blocks/storage-item/storage-item.pug
        include ../../blocks/footer/footer.pug
        header
            +header("Альп-клуб ENERGY")
        h1.keldim__title Склад
        p.keldim__about Здесь вы можете посмотреть каким снаряжением располагает наш клуб, а так же узнать сколько его имеется в наличии на данный момент.
        .keldim-pie-chart__wrapper
            .keldim-pie-chart__item    
                h2.keldim-pie-chart__text Имеется всего:
                .keldim-pie-chart__container
                    <canvas id="myChartAll" width="100" height="100"></canvas>
            .legend__container
                .legend__item Веревки
                .legend__item Карабины
                .legend__item Жумары
                .legend__item Корзинки
                .legend__item Беседки
                .legend__item Оттяжки
            .keldim-pie-chart__item
                h2.keldim-pie-chart__text Имеется в наличии:
                .keldim-pie-chart__container
                    <canvas id="myChartCurrent" width="100" height="100"></canvas>
        .keldim__stock
            +storage-item('odd', '../../images/rope.jpg', 'Веревки', 'Альпинистская верёвка — специальная верёвка с особыми динамическими и прочностными качествами, применяемая в альпинизме, скалолазании и спелеологии.', 15, 7)
            +storage-item('even', '../../images/karabin.jpg', 'Карабины', 'Караби́н — быстродействующее соединительное звено между двумя предметами, имеющими петли. Карабин имеет форму скобы с пружинной защёлкой.', 60, 56)
            +storage-item('odd', '../../images/zhumar.jpg', 'Жумары', 'Жума́р — элемент снаряжения альпинистов, спелеологов, спасателей и скалолазов, применяемый в верёвочной технике для подъёма по вертикальным перилам.', 8, 4)
            +storage-item('even', '../../images/korzinka.jpg', 'Корзинки', 'Корзинка — это спусковое и страховочное устройство. С корзинкой удобно работать на двойной верёвке, она не крутит верёвку при спуске и сама блокируется при страховке нижнего участника.', 10, 2)
            +storage-item('odd', '../../images/besedka.jpg', 'Беседки', 'Страховочная система — элемент скалолазного и альпинистского снаряжения, который спортсмен надевает на себя, и к которому с помощью узла «восьмёрка» или карабина крепится верёвка.', 10, 8)
            +storage-item('even', '../../images/ottyajka.jpg', 'Оттяжки', 'Оттяжка является элементом снаряжения альпиниста и скалолаза, служащим для включения страховочного элемента в страховочную цепь. Представляет собой комбинацию двух карабинов и стропы.', 30, 12)
        .keldim__admin-container
            span.admin__text Ответственный за склад - Арсений Курьин. По вопросам выдачи снаряжения обращаться к нему.
            .admin__info
                +user-profile('grey-orange', '../../images/senya.png', 'Арсений Курьин', 'Кладовой')
    footer
        +footer("../../images/alp-logo.gif")
    script(src="keldim.bundle.js")