@import '../../blocks/header/header.styl'
@import '../../blocks/footer/footer.styl'
@import '../../blocks/user-profile/user-profile.styl'
@import '../../fonts/fonts.styl'

*
    box-sizing border-box
html
    font-family "SourceSansPro", Arial, sans-serif
    font-size 62.5%
    color rgb(40, 40, 40)
body
    padding 0
    margin 0
.keldim__title
    padding 0
    margin 20px 0 0 0
    font-size 3em
    text-align center
.keldim__about
    padding 10px 5%
    font-size 2em
    margin-top 20px
    color #ffffff
    background rgba(40, 40, 40, 1)
.pie-chart__wrapper
    display flex
    justify-content space-around
    padding-bottom 20px
.pie-chart__text
    font-size 1.5em
    text-align center
    padding-bottom 10px
.pie-chart__container
    height 250px
    width 250px
.legend
    &__container
        display flex
        justify-content space-around
        flex-direction column
    &__item:nth-child(1):before
        content ''
        padding 0 20px
        margin-right 5px
        background #E49842
    &__item:nth-child(2):before
        @extend .legend__item:nth-child(1):before
        background #F9F944
    &__item:nth-child(3):before
        @extend .legend__item:nth-child(1):before
        background #23A296
    &__item:nth-child(4):before
        @extend .legend__item:nth-child(1):before
        background #8560D5
    &__item:nth-child(5):before
        @extend .legend__item:nth-child(1):before
        background #4AA737
    &__item:nth-child(6):before
        @extend .legend__item:nth-child(1):before
        background #A04F4F
.keldim__stock
    padding 40px 2% 40px 2%
    border-top 2px solid rgba(40, 40, 40, 1)
    display grid
    grid-template-columns repeat(auto-fit, minmax(320px, 1fr))
    grid-gap 15px
.keldim__item
    border-radius 5px
    padding 15px
    &_left
        background rgba(40, 40, 40, 1)
    &_right
        background rgba(75, 75, 75, 1)
.image__container
    height 170px
    width 170px
    float right
.keldim__img
    height 100%
    width 100%
.item__title
    padding 0
    margin 0
    font-size 2em
    color rgba(255, 255, 255, 1)
    text-align center
.item__text
    padding 0
    font-size 1em
    color rgba(255, 255, 255, 1)
.item__value
    font-size 1em
    color rgba(255, 255, 255, 1)
.item__count
    padding 0
    margin 0
.item__number
    width 30px
    margin-left 5px
    outline none 
    border none 
    border-radius 3px
    background rgb(130, 130, 130)
    color #ffffff
    text-align center
.keldim__admin-container
    display flex
    justify-content space-around
    align-items center
    padding 25px 5%
    clear both
    border-top 2px solid rgba(40, 40, 40, 1)
.admin__text
    font-size 1.2em
.admin__info
    display inline-block
    margin-left 20px

@media screen and (max-width 700px)
    .keldim__about
        font-size 1.2em
    .pie-chart__container
        height 200px
        width 200px
    .keldim__item
        width 100%
        &_left
            float none
        &_right
            float none
    .keldim__admin-container
        flex-direction column
    .admin__info
        margin-top 20px
    .legend__container
        display none