<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="apple-touch-icon", sizes="180x180", href="../../favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="../../favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="../../favicons/favicon-16x16.png")
        link(rel="manifest", href="../../favicons/site.webmanifest")
        link(rel="mask-icon", href="../../favicons/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        title My Site
    body
        include ../../blocks/header/header.pug
        include ../../blocks/member/member.pug
        include ../../blocks/member/member__employee/member__employee.pug
        include ../../blocks/member/rest-members/rest-members.pug
        include ../../blocks/arw-buttons/arw-buttons.pug
        include ../../blocks/footer/footer.pug
        header.header-container
            +header("Альп-клуб ENERGY", "../../audio/Vladimir Visockiy - Zdes' vam ne ravnina.mp3", "../../index.html", "../gallery/gallery.html", "../members/members.html", "../keldim/keldim.html", "../about/about.html")
        main.main-content-container
            h1.members__title Состав клуба
            section.member__section
                +member('Президент клуба', 'green-white', '../../images/timophey.png', 'Тимофей Петрович', 'Президентом нашего клуба в данным момент является выдающийся альпинист с огромным опытом и багажом знаний, всеми любимый и уважаемый Тимофей Петрович. Под его руководством ENERGY проводит каждый год множество мероприятий, выигрывает в соревнованиях и достигает новых вершин как в прямом, так и в переносном смыслах!', 'От себя: Альпинизм – не спорт, а образ жизни, требующий самых разных навыков и умений. Окунитесь в мир приключений, романтики, риска и опасностей, придя в наш клуб!', 'Мастер спорта', 'I разряд', '45 лет', '12 лет', true, true)
            section.member__section.member__section_relative
                .member__btn.member__btn_left
                    +arw-buttons('green', 'left')
                .member__btn.member__btn_right
                    +arw-buttons('green', 'right')
                .member-trainers__flex-container
                    .member-trainer
                        +member('Тренер новичков', 'green-white', '../../images/catTrainer1.png', 'Алексей Таранов', 'Леша недавно в клубе, но опыта ему не занимать. С детства привык к работе с веревкой и железом. Прекрасный скалолаз, постоянный участник различных региональных соревнований по болдерингу. А ещё он просто веселый парень, который точно всех развеселит. Очень милый внутри, хоть с первого взгляда этого и не заметно.', 'От себя: Альпинизм это не только лазание по сложным маршрутам, с ледорубами, кошками, френдами и веревкой, но и обычные восхождения по альпийским лугам, каменистым склонам, осыпям и просторным хребтам, где стоят тысячелетние жандармы, как бы охраняющие, покой и величие гор.', 'III разряд', 'II разряд', '25 лет', '2 года', false, false)
                    .member-trainer
                        +member('Тренер новичков', 'grey-orange', '../../images/catTrainer2.png', 'Елизавета Пушкова', 'Эта женщина стала олицетворением мастерства скалолазания. Красивая и ловкая, она покоряла умопомрачительные для восьмидесятых годов маршруты. Елизавета Пушкова по праву считается одной из самых выдающихся скалолазок в мире,  и, несмотря на бурный прогресс в скалолазании, за последние двадцать лет, ее достижения впечатляют до сих пор.', 'От себя: Мне страшно, когда я вижу в человеке безразличие ко всему, кроме себя. Хотелось бы, чтобы люди совершали гуманные поступки не потому, что так нужно и правильно, а откровенно, по велению души.', 'II разряд', 'Без разряда', '22 года', '5 лет', true, false)
                    .member-trainer
                        +member('Тренер новичков', 'green-white', '../../images/catTrainer3.png', 'Мустафа Мурмаметов', 'Мустафа Мурмаметов был одним из лучших альпинистов ХХ века. Только он смог взойти на четыре восьмитысячника подряд за 80 дней. Он единственный человек в мире, кто двадцать один раз отправлялся наверх в "зону смерти" без кислородной маски. Практически на каждое свое восхождение он брал с собой флаг Казахстана.', 'От себя: Альпинизм – очень рискованное занятие, которое, ни в коем случае, нельзя недооценивать, в не зависимости от того, насколько легким или неопасным выглядит выбранный пик.', 'III разряд', 'III разряд', '30 лет', '6 лет', false, true)
            section.member__section.member__section_grid
                .member__employee-container
                    +member__employee('Кладовой', 'green-white', '../../images/senya.png', 'Арсений Курьин', 'Пишем мне, если вам нужно снаряжение. Сдавать обратно лично мне в руки')
                .member__employee-container.member__employee-container_bordered-on-desc
                    +member__employee('Казначей', 'grey-orange', '../../images/polya.png', 'Полина Майорова', 'Каждый месяц сдаем членские взносы! Все взносы идут на нужны клуба.')
                .member__employee-container
                    +member__employee('Вахтовик', 'green-white', '../../images/ivan.png', 'Котейкин Иван', 'Для получения пропуска через вахту, приносим мне две ваши фотографии 3:4.')
            section.member__section
                +rest-members()
                    +rest-member-data('1', 'Дягтеренко Аля Александровна', '25 лет', 'ТПУ', 'Аспирантура', 'Очная (Бюджетная)')
                    +rest-member-data('2', 'Вик Ксюша Анатольевна', '18 лет', 'ТПУ', 'Бакалавриат', 'Очная (Бюджетная)')
                    +rest-member-data('3', 'Морозов Олег Викторович', '29 лет', 'ТГУ', 'Магистр', '-')
                    +rest-member-data('4', 'Павловец Женя Александрович', '18 лет', 'ТПУ', 'Бакалавриат', 'Очная (Платная)')
                    +rest-member-data('5', 'Паршина Женя Егоровна', '18 лет', 'ТПУ', 'Бакалавриат', 'Очная (Платная)')
                    +rest-member-data('6', 'Касымов Кувят Талгатович', '25 лет', 'ТПУ', 'Аспирантура', 'Очная (Бюджетная)')
                    +rest-member-data('7', 'Куприянова Ирина Олеговна', '28 лет', 'ТГУ', 'Кандидат наук', '-')
                    +rest-member-data('8', 'Макаров Саша Васильевич', '22 года', 'ТПУ', 'Магистратура', 'Очная (Платная)')
                    +rest-member-data('9', 'Донцов Юрий Алексеевич', '32 года', 'ТУСУР', 'Бакалавр', '-')
                    +rest-member-data('10', 'Карачурина Светлана Максимовна', '21 год', 'ТПУ', 'Бакалавриат', 'Очная (Бюджетная)')
        footer.footer-container
            +footer("../../images/alp-logo.gif")
        script(src="members.bundle.js")