@import '../../blocks/header/header.styl'
@import '../../blocks/footer/footer.styl'
@import '../../blocks/member/member.styl'
@import '../../blocks/member/member__employee/member__employee.styl'
@import '../../blocks/arw-buttons/arw-buttons.styl'
@import '../../fonts/fonts.styl'    

*
  box-sizing border-box
html
  font-family "SourceSansPro", Arial, sans-serif
  font-size 62.5%
  color rgb(40, 40, 40)
  background #fff
body
  padding 0
  margin 0
.main-content-container
  padding 0 0 40px 0
.member__section
  border-top 2px solid rgb(40, 40, 40)
  &_relative
    position relative
    min-height 512px
    height 1px
    width 100%
    overflow hidden
  &_grid
    display grid
    grid-template-columns repeat(auto-fit, minmax(320px, 1fr))
    padding 25px 2%
.member__btn
  padding 25px 2%
  position relative
  z-index 999
  &_left
    float left
  &_right
    float right
.member__employee-container
  flex-basis 33.3%
  padding-bottom 20px
  &_bordered-on-desc
    @media screen and (min-width 1000px)
      border-left 2px solid rgb(40, 40, 40)
      border-right 2px solid rgb(40, 40, 40)
    