include ../header/header.pug
include ../arw-buttons/arw-buttons.pug
.col-1
.col-2
    +header('Welcome to Gallery')
    .gallery__text TEST
    .gallery__images
        img(src="images/1.png" class="image image_show" alt="pic")
        img(src="images/2.png" class="image" alt="pic")
        img(src="images/3.png" class="image" alt="pic")
        img(src="images/4.png" class="image" alt="pic")
        img(src="images/5.png" class="image" alt="pic")
        img(src="images/6.png" class="image" alt="pic")
    .gallery__buttons
        +arw-buttons('green', 'left')
        +arw-buttons('green', 'right')
.col-3