.col-1
.col-2
    include ../search/search.pug
    .header
        ul.menu
            li.menu__item
                a(href='#' class='menu__link') Link
            li.menu__item
                a(href='#' class='menu__link') Link
            li.menu__item
                a(href='#' class='menu__link') Link
        .header__board
            .flex-container
                .header__emblem
                .header__text Welcome to Gallery
            .header__search
                +search('grey', 'Search...')
.col-3