@import '../../../blocks/user-profile/user-profile.styl'

.member__employee
  display flex
  flex-direction column
  align-items center
  flex-basis 33.3%
  padding 0 20px
  @media screen and (max-width 1200px)
    padding 0 20px
.employee__job
  font-size 2.4rem
  color rgb(40, 40, 40)
  margin 0
  padding 0 0 15px 0
.employee__about
  font-family 'Lato', Arial, sans-serif
  font-weight 400
  font-style italic
  font-size 1.6rem
  background #999999
  border-radius 10px
  padding 15px 40px
  margin 20px 0 0 0
  @media screen and (max-width 800px)
    padding 15px 20px