mixin calendar()
    article.calendar
        header.calendar__header
            .calendar__date
            section.calendar__slider
                .calendar__button.calendar__button_left
                .calendar__month
                .calendar__button.calendar__button_right
            .calendar__week-list
                .calendar__day пн
                .calendar__day вт
                .calendar__day ср
                .calendar__day чт
                .calendar__day пт
                .calendar__day сб
                .calendar__day вс
        section.calendar__body
            ul.calendar__list
                li.calendar__list-item
                li.calendar__list-item
                li.calendar__list-item
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item
                li.calendar__list-item
        footer.calendar__footer
            .calendar__info