.search
  display flex
  width 288px
  @media screen and (max-width 480px)
    width 170px
.search__input
  flex-basis 255px
  border none
  border-radius 5px 0 0 5px
  min-height 30px
  padding 5px 0 7px 8px
  font-family 'SourceSansPro', Arial, sans-serif
  font-size 1.4rem
    &_grey
      background #F3ECE8
      color #888888
  @media screen and (max-width 480px)
    width 137px 
.search__button
  flex-basis 33px
  min-height 30px
  background rgb(75, 75, 75)
  border none 
  outline none 
  border-radius 0 5px 5px 0
  color #ffffff
  cursor pointer
  &:hover
    background: rgb(40, 40, 40)