.footer__container
  display flex
  justify-content space-around
  align-items center
  width 100%
  padding 15px
  background rgba(40, 40, 40, 1)
  font-family 'Lato', Arial, sans-serif
  font-weight 400
  font-style normal
  font-size 1.2rem
  color #fff
  &_adress
    margin-left 10px
.footer__text
  display block
  padding-bottom 5px
  &_first
    padding-bottom 10px
  &_last
    padding 0
.footer__container_imgage
  width 160px
  height 160px
  border-radius 50%
  @media screen and (max-width 700px)
    width 100px
    height 100px
.footer__image
  width 100%
  height 100%
  border-radius 50%
