.footer__container
    display flex
    justify-content space-around
    align-items center
    width 100%
    padding 15px
    background rgba(40, 40, 40, 1)
    font-family 'Conv_Lato-Regular', sans-serif
    font-size .8em
    color #fff
    overflow hidden
.footer__text
    display block
    padding-bottom 5px
    &_first
        padding-bottom 10px
    &_last
        padding 0
.footer__container_imgage
    width 8%
.footer__image
    width 100%
    height 100%