mixin footer(footerImgSrc)
    .footer__container
        section.footer__container_contact
            span.footer__text.footer__text_first Контактная информация:
            span.footer__text Лемешенко Никита
            span.footer__text Тел: +77056060155
            span.footer__text.footer__text_last E-mail: allbehail@mail.ru
        section.footer__container_imgage
            img(src=footerImgSrc class="footer__image" alt="alp-logo")
        section.footer__container_adress
            span.footer__text Клуб расположен по адрессу:
            span.footer__text пр. Кирова 2 / пр. Ленина 45
            span.footer__text Общежитие ТПУ №2