@import '/gallery/gallery.styl'
@import '/search/search.styl'
@import '/header/header.styl'
@import '/arw-buttons/arw-buttons.styl'
@import '/fonts.styl'    

*
    box-sizing border-box
body
    padding 0
    margin 0
.wrapper
    width 100%
    min-height 100vh
    background -webkit-linear-gradient(#F5EDED, #F2EDF9)