@import '/blocks/header/header.styl'
@import '/blocks/footer/footer.styl'
@import '/blocks/video/video.styl'
@import '/blocks/location/location.styl'
@import '/fonts/fonts.styl'    

*
    box-sizing border-box
body
    font-family 'Conv_SourceSansPro-Regular', sans-serif
    color rgba(40, 40, 40, 1)
    padding 0
    margin 0
.about__title
    padding 0
    margin 20px 0 0 0
    font-size 3em
    text-align center
.about__video-cont
    margin 20px auto 25px
    height 336px
    width 594px
.about__text
    background rgba(40, 40, 40, 1)
    color #ffffff
    padding 25px 5%
    margin 0
    font-size 1.2em
.about__parallax
    height 400px
    background-attachment fixed
    background-position center 
    background-repeat no-repeat
    background-size cover
    &_first
        background-image url('/images/parallax1.png')
    &_second 
        background-image url('/images/parallax2.png')
    &_third
        background-image url('/images/parallax3.png')

@media screen and (max-width 700px)
    .about__text
        font-size 1em