include ./blocks/video/video.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My Site
    body
        include blocks/header/header.pug
        h1.about__title О нашем клубе
        .about__video-cont
            +myVideo('https://www.youtube.com/embed/jL1zVdj1kcs')
        p.about__text Спортивный клуб ENERGY был создан 10 октября 1973 года. Главные направления занятий клуба это альпинизм, скалолазание и ледолазание. Так же мы занимаемся спелеологией, туризмом, велоспортом, горными лыжами, сноубордом, слэклайном и многими другими видами спорта.
        .about__parallax.about__parallax_first
        p.about__text Начальный состав клуба ограничивался небольшой группой спелеологов, что и сформировало первое направление развития. В то время участники преодолевали большие трудности со снаряжением, описанием пещер и маршрутов и прочим. Но все трудности пали перед этими молодыми ребятами: всё создавалось своими руками - и снаряжение, и карты, и описания маршрутов. И всё ради пещер, ведь главное в нашем деле - энтузиазизм и воля к победе! Почти сразу к спелеологии присоединилось родственное скалолазание. Позже - альпинизм - самый суровый и экстремальный вид спорта.
        .about__parallax.about__parallax_second
        p.about__text За годы существования клуба мы обзавелись своими традициями, отличительными чертами и методами работы с новичками. Сегодня мы стройная организация со строгими правилами и огромным потенциалом. С каждым годом увеличиваются наборы новичков, а значит, увеличивается интерес к нашим видам спорта. Мы можем предложить практически всё, что нужно молодым (и не очень) парням и девчонкам. А именно: спорт, отдых, тёплую компанию и верных друзей. Не это ли важно сегодня?
        .about__parallax.about__parallax_third
        p.about__text Нас можно нати по адрес адрес: Россия, Томская область, г.Томск, пр. Кирова, 2. Цокольный этаж, вход через вахту.
        include blocks/location/location.pug
        include blocks/footer/footer.pug