@import '/blocks/header/header.styl'
@import '/blocks/news/events.styl'
@import '/blocks/news/news.styl'
@import '/blocks/calendar/calendar.styl'
@import '/blocks/footer/footer.styl'
@import '/fonts/fonts.styl'    

*
    box-sizing border-box
body
    font-family 'Conv_SourceSansPro-Regular', sans-serif
    color rgba(40, 40, 40, 1)
    padding 0
    margin 0
.title
    padding 0
    margin 20px 0 0 0
    font-size 3em
    text-align center
    &_sub
        font-size 1em
        margin 0
.epigraph
    float right
    padding 0
    margin 0 60px 0 0
    font-size 1em
    font-style italic
.message
    width 100%
    overflow auto
    background #fff
    padding 13px 2%
    margin-top 90px
    border-top 2px rgb(40, 40, 40) dashed
    border-bottom 2px rgb(40, 40, 40) dashed
    &__container
        display flex
        justify-content space-between
        width 100%
        border-radius 42px
        background #eaeaea
    &__title
        text-indent 20px
        margin-left 20px
    &__text
        margin-left 20px
        font-style italic
.user-profile__img-container
    flex-shrink 0
    height 84px
    width 84px
    border 4px solid #e5e5e5
    border-radius 50%
.user-profile__img
    height 100%
    width 100%
    border-radius 50%
.grid-container
    display grid
    grid-template-columns 300px 1fr 200px
    grid-template-rows 445px auto
    grid-gap 25px
    grid-template-areas "sidebar main infobar" "calendar main ."
    padding 20px 20px 40px 0
.sidebar
    grid-area sidebar
    background #eaeaea
    overflow-y auto
    &__title
        padding 0
        margin 0
        text-align center
        font-size 1.7em
        background #bababa
    &__item
        position relative
        display inline-block
        padding 10px 20px
        &:hover
            background #bababa
            cursor pointer
    &__toggle
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background rgba(255, 255, 255, 0)
    &::-webkit-scrollbar
        width 10px
    &::-webkit-scrollbar-track
        background #eaeaea
    &::-webkit-scrollbar-thumb
        background #666
        &:hover
            background #555
.calendar
    grid-area calendar
    justify-self end
.main
    grid-area main
    background linear-gradient(to bottom, rgba(220, 220, 220, 1), rgba(220, 220, 220, 0) 80%)
    border-radius 15px
    &__event
        display none
        &_visible
            display block
.event
    &__image
        width 90%
        max-width 702px
        height 400px
        margin 20px 0 0 5%
    &__title
        @extend .title
        font-size 2em
    &__text
        width 90%
        margin 25px 0 0 5%
    &__pic-container
        display inline-block
        background #bababa
        &_first
            float right
            margin 50px 5% 0 15px
        &_second
            float right
            margin 30px 5% 0 15px
            clear both
.news-info
    grid-area infobar
    background #bababa
    height 222px
    border-radius 15px
    padding 15px
.info
    font-size .8em
    line-height 3em
    &_article
        text-decoration underline
    &__icons
        font-size 2em
        display flex
        justify-content space-around
        margin-top 35px
        color #888888
.icon:hover
    cursor pointer
    color #e5e5e5

@media screen and (max-width 1024px)
    .epigraph
        margin 15px 0 0 0
    .grid-container
        grid-template-columns 1fr 1fr
        grid-template-rows auto
        grid-template-areas "sidebar sidebar" "main main" "calendar infobar"
        column-gap 0
        grid-row-gap 25px
        padding 20px 0 40px 0
    .sidebar
        overflow hidden
        overflow-x scroll
        height initial
        white-space nowrap
        &__item
            white-space normal
    .calendar
        justify-self center
    .news-info
        width 200px
        justify-self center

@media screen and (max-width 500px)
    .calendar
        display none