<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My Site
    body
        include blocks/news/events.pug
        include blocks/news/news.pug
        include blocks/header/header.pug
        h1.title Добро пожаловать!
        p.title.title_sub Устраивайся поудобнее. Выпей чаю. И к новым вершинам!
        span.epigraph Лучше гор могут быть только горы,<br>На которых еще не бывал.<br>В. Высоцкиий
        .message
            .message__container
                .user-profile__img-container
                    img(class="user-profile__img" src='images/timophey.png' alt="avatar")
                .message__text-container
                    .message__title Сообщение дня от Президнета клуба:
                    .message__text Привет! У ENERGY снова юбилей 45 лет!<br>Празднование традиционно на поляне 26-27 мая (неформально). А формальная встреча с танцами, песнями и поздравлениями состоится 25 мая в МКЦ ТПУ, куда приглашаются все!
        .grid-container
            .sidebar-container
                .sidebar
                    p.sidebar__title Новости
                    .sidebar__item
                        +events('25', 'Мая', 'День рождения клуба!', 'images/event1.png')
                    .sidebar__item
                        +news('17 мая', 'Первые среди клубов!', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', 'images/event1.png')
                    .sidebar__item
                        +events('25', 'Мая', 'День рождения клуба!', 'images/event1.png')
                    .sidebar__item
                        +news('17 мая', 'Первые среди клубов!', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', 'images/event1.png')
                .sidebar__calendar
                    include blocks/calendar/calendar.pug
            .main
                .main__event1
                    img.event1__image(src='images/happyBD.jpg' alt='pic')
                    .event1__title День рождения клуба
                    .event1__pic-container.event1__pic-container_first
                        img.event1__pic(src="images/BDimg1.jpg" alt='pic')
                        .event1__pic-desc Вот такие у нас игры!
                    p.event1__text Привет!<br><br>У ENERGY снова юбилей: 45 лет!<br><br>Празднование традиционно на поляне 26-27 мая (неформально). А формальная встреча с танцами, песнями и поздравлениями состоится 25 мая в МКЦ ТПУ, куда приглашаются все!<br><br>Понятно, что лететь в Томск по этому поводу удовольствие не для всех... и у нас родилась мысль! Cделать видеоролик с поздравлениями от клубян, которые не живут теперь в Томске.<br><br>Ролик будет состоять из нарезок присланных нам ваших роликов.
                    .event1__pic-container.event1__pic-container_second
                        img.event1__pic(src="images/BDimg2.jpg" alt='pic')
                        .event1__pic-desc Всех пришедших угостим вкусным пловом.
                    p.event1__text Что надо сделать:<br><br>1. Cнять небольшой ролик со словами приветствия/поздравления для ENERGY или (если нечего/некогда сказать) сделать фото на фоне узнаваемого места твоего города <br><br>2. Выложить на какой-нибудь "диск" и прислать ссылку Олегу Морозову.<br><br>По сроку, как всегда всё должно быть сделано вчера, нам еще нужно будет все скомпоновать, поэтому чем раньше, тем лучше!<br><br>Мы пока не знаем как это должно выглядеть, но наверняка получиться круто! Не стесняемся импровизировать и выражать свои эмоции.
            .infobar
                .news-info
                    .info.info_author
                    .info.info_article
                    .info.info_date
                    .info__icons
                        i(class="icon fas fa-heart")
                        i(class="icon fas fa-eye")
                        i(class="icon fab fa-algolia")
        include blocks/footer/footer.pug
        