@import '/blocks/gallery/gallery.styl'
@import '/blocks/search/search.styl'
@import '/blocks/header/header.styl'
@import '/blocks/arw-buttons/arw-buttons.styl'
@import '/blocks/sliders/sliders.styl'
@import '/fonts/fonts.styl'    

*
    box-sizing border-box
body
    padding 0
    margin 0
.wrapper
    width 100%
    min-height 100vh
    background -webkit-linear-gradient(#F5EDED, #F2EDF9)