@import '/blocks/search/search.styl'
@import '/blocks/header/header.styl'
@import '/blocks/sliders/sliders.styl'
@import '/blocks/footer/footer.styl'
@import '/fonts/fonts.styl'    

*
    box-sizing border-box
body
    padding 0
    margin 0