@import '/blocks/search/search.styl'
@import '/blocks/header/header.styl'
@import '/blocks/sliders/sliders.styl'
@import '/blocks/footer/footer.styl'
@import '/fonts/fonts.styl'    

*
    box-sizing border-box
body
    font-family 'Conv_SourceSansPro-Regular', sans-serif
    color rgba(40, 40, 40, 1)
    padding 0
    margin 0
.wrapper
    width 90%
    margin 0 auto
.keldim__title
    padding 0
    margin 20px 0 0 0
    font-size 3em
    text-align center
.keldim__about
    padding 10px 5%
    font-size 2em
    margin-top 20px
    color #ffffff
    background rgba(40, 40, 40, 1)
.pie-chart__wrapper
    display flex
    justify-content space-around
.pie-chart__text
    font-size 1.5em
    text-align center
    padding-bottom 10px
.pie-chart__container
    height 250px
    width 250px
.keldim__stock
    margin-top 25px
.keldim__item
    width 70%
    border-radius 5px
    margin-bottom 25px
    padding 15px
    &_left
        float left
        background rgba(40, 40, 40, 1)
    &_right
        float right
        background rgba(75, 75, 75, 1)
.image__container
    height 170px
    width 170px
    &_left
        float left
    &_right
        float right
.keldim__img
    height 100%
    width 100%
.item__title
    padding 0
    margin 0
    font-size 2em
    color rgba(255, 255, 255, 1)
    text-align center
.item__text
    padding 0
    font-size 1em
    color rgba(255, 255, 255, 1)
    &_left
        margin-left 185px
.item__value
    font-size 1em
    color rgba(255, 255, 255, 1)
    &_left
        margin 0 0 0 185px
.item__count
    padding 0
    margin 0
.item__number
    width 30px
    margin-left 5px
    outline none 
    border none 
    border-radius 3px
    background rgb(130, 130, 130)
    color #ffffff
    text-align center
