<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My Site
    body
        include blocks/header/header.pug
        .wrapper
            h1.keldim__title Склад
        p.keldim__about Здесь вы можете посмотреть каким снаряжением располагает наш клуб, а так же узнать сколько его имеется в наличии на данный момент.
            .pie-chart__wrapper
                .pie-chart__item    
                    .pie-chart__text Имеется всего:
                    .pie-chart__container
                        <canvas id="myChart" width="100" height="100"></canvas>
                .pie-chart__item
                    .pie-chart__text Имеется в наличии:
                    .pie-chart__container
                        <canvas id="myChartOne" width="100" height="100"></canvas>
            .keldim__stock
                .keldim__item.keldim__item_left
                    .image__container.image__container_left
                        img(class="keldim__img" src="./images/rope.jpg")
                    h1.item__title Веревки
                    p.item__text.item__text_left Альпинистская верёвка — специальная верёвка с особыми динамическими и прочностными качествами, применяемая в альпинизме, скалолазании и спелеологии.
                    .item__value.item__value_left
                        p.item__count Всего имеется:
                            input(type="text" class="item__number item__number_all" value="15" readonly)
                        p.item__count В наличии:
                            input(type="text" class="item__number item__number_current" value="7" readonly)
                .keldim__item.keldim__item_right
                    .image__container.image__container_right
                        img(class="keldim__img" src="./images/karabin.jpg")
                    h1.item__title Карабины
                    p.item__text.item__text_right Караби́н — быстродействующее соединительное звено между двумя предметами, имеющими петли. Карабин имеет форму скобы с пружинной защёлкой.
                    .item__value.item__value_right
                        p.item__count Всего имеется:
                            input(type="text" class="item__number item__number_all" value="60" readonly)
                        p.item__count В наличии:
                            input(type="text" class="item__number item__number_current" value="56" readonly)
                .keldim__item.keldim__item_left
                    .image__container.image__container_left
                        img(class="keldim__img" src="./images/zhumar.jpg")
                    h1.item__title Жумары
                    p.item__text.item__text_left Жума́р — элемент снаряжения альпинистов, спелеологов, спасателей и скалолазов, применяемый в верёвочной технике для подъёма по вертикальным перилам.
                    .item__value.item__value_left
                        p.item__count Всего имеется:
                            input(type="text" class="item__number item__number_all" value="8" readonly)
                        p.item__count В наличии:
                            input(type="text" class="item__number item__number_current" value="4" readonly)
                .keldim__item.keldim__item_right
                    .image__container.image__container_right
                        img(class="keldim__img" src="./images/korzinka.jpg")
                    h1.item__title Корзинки
                    p.item__text.item__text_right Корзинка — это спусковое и страховочное устройство. С корзинкой удобно работать на двойной верёвке, она не крутит верёвку при спуске и сама блокируется при страховке нижнего участника.
                    .item__value.item__value_right
                        p.item__count Всего имеется:
                            input(type="text" class="item__number item__number_all" value="10" readonly)
                        p.item__count В наличии:
                            input(type="text" class="item__number item__number_current" value="2" readonly)
                .keldim__item.keldim__item_left
                    .image__container.image__container_left
                        img(class="keldim__img" src="./images/besedka.jpg")
                    h1.item__title Беседки
                    p.item__text.item__text_left Страховочная система — элемент скалолазного и альпинистского снаряжения, который спортсмен надевает на себя, и к которому с помощью узла «восьмёрка» или карабина крепится верёвка.
                    .item__value.item__value_left
                        p.item__count Всего имеется:
                            input(type="text" class="item__number item__number_all" value="10" readonly)
                        p.item__count В наличии:
                            input(type="text" class="item__number item__number_current" value="8" readonly)
            .keldim__admin-container
                
        include blocks/footer/footer.pug