@import '/blocks/header/header.styl'
@import '/blocks/footer/footer.styl'
@import '/blocks/user-profile/user-profile.styl'
@import '/fonts/fonts.styl'    

*
    box-sizing border-box
body
    font-family 'Conv_SourceSansPro-Regular', sans-serif
    color rgba(40, 40, 40, 1)
    padding 0
    margin 0
.members__title
    padding 0
    margin 20px 0 0 0
    font-size 3em
    text-align center