@import '/blocks/header/header.styl'
@import '/blocks/footer/footer.styl'
@import '/blocks/user-profile/user-profile.styl'
@import '/blocks/toggles/toggles.styl'
@import '/blocks/arw-buttons/arw-buttons.styl'
@import '/fonts/fonts.styl'    

*
    box-sizing border-box
body
    font-family 'Conv_SourceSansPro-Regular', sans-serif
    color #ffffff
    padding 0
    margin 0
.member__section
    position relative
    height 37.69vw
    width 98.65vw
    border-top 2px solid rgba(40, 40, 40, 1)
    overflow-x hidden
.member__container
    height 37.51vw
    width 98.65vw
    position absolute
    padding 25px 2% 25px 2%
    background-repeat no-repeat
    background-size cover
    transition .5s
    &_left
        left -100%
        top 0
        padding-left 0
        padding-right 0
    &_center
        top 0
        left 0
        padding-left 2%
        padding-right 2%
    &_right
        top 0
        left 100%
        padding-left 0
        padding-right 0
.members__title
    padding 0
    margin 20px 0 10px 0
    font-size 3em
    text-align center
    color rgb(40, 40, 40)
.member__person
    display flex
    justify-content space-around
    align-items center
    width 600px
    margin 0 auto
.member__job
    margin 0
    padding 0
    font-size 1.7em
    color rgb(40, 40, 40)
.member__text
    padding 15px 40px
    margin 20px 0 0 0
    font-size 1.2em
    background #333333
.member__about
    padding 15px 40px
    margin 40px 0 0 0
    font-family 'Conv_Lato-Italic'
    font-size 1.1em
    background #999999
    border-radius 10px
.member__info
    margin 0 auto
    border 1px solid rgba(40, 40, 40, 1)
    border-collapse collapse
    margin-top 40px
.member__info th
    border 1px solid rgba(40, 40, 40, 1)
    padding 12px 5px
    background #333333
    text-align left
.member__info td
    border 1px solid rgba(40, 40, 40, 1)
    padding 5px
    background #d8d8d8
    color rgb(40, 40, 40)
.member__btn
    padding 25px 2%
    position relative
    z-index 999
    &_left
        float left
    &_right
        float right