<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My Site
    body
        include blocks/user-profile/user-profile.pug
        include blocks/toggles/toggles.pug
        include blocks/arw-buttons/arw-buttons.pug
        include blocks/header/header.pug
        h1.members__title Состав клуба
        .member__section
            .member__container
                .member__person
                    h2.member__job Президент клуба
                    +user-profile('grey-orange', 'images/timophey.png', 'Тимофей Петрович', 'Президент')
                p.member__text Президентом нашего клуба в данным момент является выдающийся альпинист с огромным опытом и багажом знаний, всеми любимый и уважаемый Тимофей Петрович. Под его руководством ENERGY проводит каждый год множество мероприятий, выигрывает в соревнованиях и достигает новых вершин как в прямом, так и в переносном смыслах!
                p.member__about От себя: Альпинизм – не спорт, а образ жизни, требующий самых разных навыков и умений. Окунитесь в мир приключений, романтики, риска и опасностей, придя в наш клуб! 
                table.member__info
                    tr
                        th Разряд по альпинизму
                        th Разряд по скалолазанию
                        th Возраст
                        th Стаж в клубе
                        th Умеет вкусно готовить
                        th Умеет играть на гитаре
                    tr
                        td Мастер спорта
                        td I разряд
                        td 45 лет
                        td 12 лет
                        td
                            +toggles('checked')
                        td
                            +toggles('checked')
        .member__section
            .member__btn.member__btn_left
                +arw-buttons('green', 'left')
            .member__btn.member__btn_right
                +arw-buttons('green', 'right')
            .member__container.member__container_trainer.member__container_visible
                .member__person
                    h2.member__job Тренер новичков
                    +user-profile('green-white', 'images/catTrainer1.png', 'Алексей Таранов', 'Тренер')
                p.member__text Леша недавно в клубе, но опыта ему не занимать. С детства привык к работе с веревкой и железом. Прекрасный скалолаз, постоянный участник различных региональных соревнований по болдерингу. А ещё он просто веселый парень, который точно всех развеселит. Очень милый внутри, хоть с первого взгляда этого и не заметно.
                p.member__about От себя: Альпинизм это не только лазание по сложным маршрутам, с ледорубами, кошками, френдами и веревкой, но и обычные восхождения по альпийским лугам, каменистым склонам, осыпям и просторным хребтам, где стоят тысячелетние жандармы, как бы охраняющие, покой и величие гор. 
                table.member__info
                    tr
                        th Разряд по альпинизму
                        th Разряд по скалолазанию
                        th Возраст
                        th Стаж в клубе
                        th Умеет вкусно готовить
                        th Умеет играть на гитаре
                    tr
                        td III разряд
                        td II разряд
                        td 25 лет
                        td 2 лет
                        td
                            +toggles()
                        td
                            +toggles()
            .member__container.member__container_trainer
                .member__person
                    h2.member__job Тренер новичков
                    +user-profile('grey-orange', 'images/catTrainer2.png', 'Елизавета Пушкова', 'Тренер')
                p.member__text Эта женщина стала олицетворением мастерства скалолазания. Красивая и ловкая, она покоряла умопомрачительные для восьмидесятых годов маршруты. Елизавета Пушкова по праву считается одной из самых выдающихся скалолазок в мире,  и, несмотря на бурный прогресс в скалолазании, за последние двадцать лет, ее достижения впечатляют до сих пор.
                p.member__about От себя: Мне страшно, когда я вижу в человеке безразличие ко всему, кроме себя. Хотелось бы, чтобы люди совершали гуманные поступки не потому, что так нужно и правильно, а откровенно, по велению души.
                table.member__info
                    tr
                        th Разряд по альпинизму
                        th Разряд по скалолазанию
                        th Возраст
                        th Стаж в клубе
                        th Умеет вкусно готовить
                        th Умеет играть на гитаре
                    tr
                        td II разряд
                        td Без разряда
                        td 22 года
                        td 5 лет
                        td
                            +toggles('checked')
                        td
                            +toggles()
            .member__container.member__container_trainer
                .member__person
                    h2.member__job Тренер новичков
                    +user-profile('green-white', 'images/catTrainer3.png', 'Мустафа Мурмаметов', 'Тренер')
                p.member__text Анатолий Букреев был одним из лучших альпинистов ХХ века. Только он смог взойти на четыре восьмитысячника подряд за 80 дней. Он единственный человек в мире, кто двадцать один раз отправлялся наверх в "зону смерти" без кислородной маски. Практически на каждое свое восхождение он брал с собой флаг Казахстана.
                p.member__about От себя: Альпинизм – очень рискованное занятие, которое, ни в коем случае, нельзя недооценивать, в не зависимости от того, насколько легким или неопасным выглядит выбранный пик.
                table.member__info
                    tr
                        th Разряд по альпинизму
                        th Разряд по скалолазанию
                        th Возраст
                        th Стаж в клубе
                        th Умеет вкусно готовить
                        th Умеет играть на гитаре
                    tr
                        td III разряд
                        td III разряд
                        td 30 лет
                        td 6 лет
                        td
                            +toggles()
                        td
                            +toggles('checked')
        include blocks/footer/footer.pug