.storage-item
  border-radius 5px
  padding 15px
  &_odd
    background rgba(40, 40, 40, 1)
  &_even
    background rgba(75, 75, 75, 1)
.storage-item-img__container
  height 170px
  width 170px
  float right
  padding-left 5px
.storage-item__img
  height 100%
  width 100%
.storage-item__title
  font-size 2rem
  color #fff
  text-align center
  padding 0
  margin 0
.storage-item__text
  font-size 1.4rem
  color #fff
  padding 0
.storage-item__value
  font-size 1.2rem
  color rgba(255, 255, 255, 1)
.storage-item__count
  padding 3px 0
  margin 0
.storage-item__number
  width 30px
  margin-left 5px
  outline none 
  border none 
  border-radius 3px
  background rgb(130, 130, 130)
  color #ffffff
  text-align center