script(defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")
include ../search/search.pug

mixin header(title)
    .header
            ul.menu
                li.menu__item
                    a(href='#' class='menu__link') На главную
                li.menu__item
                    a(href='#' class='menu__link') Галлерея
                li.menu__item
                    a(href='#' class='menu__link') Клубяне
                li.menu__item
                    a(href='#' class='menu__link') Кельдым
            .header__board
                .flex-container
                    .header__emblem
                    .header__text=title
                .header__search
                    +search('grey', 'Search...')
                .header__audio
                    audio(id='song' width="500" height="50" ontimeupdate="updateTime()" preload="metadata")
                        source(src="../audio/Vladimir Visockiy - Zdes' vam ne ravnina.mp3" type="audio/mpeg")
                    div(class="header__btn" id="songPlay") 
                        i(class="fas fa-play")
                    div(class="header__btn" id="songStop")
                        i(class="fas fa-stop")