.header
    width 100%
    background-image url('../img/header.jpg')
    background-repeat no-repeat
    background-size cover
    padding-bottom 10%
    padding-top 2%
.menu
    width 50%
    padding 0
    margin 0 auto
    display flex
    justify-content space-between
    &__item
        position relative
        font-family 'Conv_Lato-Regular'
        display inline-block
        padding 0 15px
        background rgba(75, 75, 75, 0.5)
        height 35px
        line-height 30px
        text-align center
        border-radius 5px 5px 0 0
        border rgba(40, 40, 40, 1) solid 2px
        border-bottom 0
        cursor pointer
        &:hover
            background -webkit-linear-gradient(rgba(125, 125, 125, 0.5), rgba(45, 45, 45, 0.5))
    &__link
        text-decoration none
        color #F3ECE8
.header__board
    position relative
    width 98%
    margin 0 auto
    background rgba(75, 75, 75, 0.5)
    border rgba(40, 40, 40, 1) solid 2px
    border-radius 5px 5px 0 0
.flex-container
    display flex
    align-items center
    justify-content space-around
    width 70%
    height 100px
.header__search
    position absolute
    top 10px
    right 10px
.header__emblem
    display inline-block
    background url('../img/emblem.png') no-repeat 50% 50%
    background-size cover
    height 80px
    width @height
.header__text
    display inline-block
    font-family 'Conv_Lato-ThinItalic'
    color #F3ECE8
    font-size 3.5em
.header__audio
    width 30%
    margin 0 auto 1%
.header__btn
    display inline-block
    background rgba(75, 75, 75, 1)
    padding 5px 10px
    margin-right 5px
    cursor pointer
    border-radius 5px
    color #fff
    &:hover
        background rgba(40, 40, 40, 1)

@media screen and (max-width 700px)
    .menu__item
        margin 0
        position relative
        font-family 'Conv_Lato-Regular'
        display inline-block
        background #A25021
        width 100px
        height 35px
        line-height 30px
        text-align center
        border-radius 5px 5px 0 0
        border #452505 solid 2px
        border-bottom 0
        cursor pointer
        z-index 1
        &:hover
            font-family 'Conv_Lato-Italic'
            background -webkit-linear-gradient(#D69B60, #A25021)
            z-index 3
    .header__board
        position relative
        width 98%
        display flex
        flex-direction column
        justify-content center
        margin -5px auto 0
        background #A25021
        border #452505 solid 2px
        border-radius 5px 5px 0 0
        z-index 2
    .flex-container
        display flex
        flex-direction column
        justify-content center
        width 100%
    .header__search
        position absolute
        top 60px
        right 10px
    .header__emblem
        display none
    .header__text
        display inline-block
        font-family 'Conv_Lato-ThinItalic'
        color #F3ECE8
        font-size 2em
        margin-top -8%
