@import '../../blocks/search/search.styl'
@import '../../blocks/sliders/sliders.styl'
@import '../../blocks/audio-player/audio-player.styl'
    
.header
  width 100%
  background-image url('../../images/header.jpg')
  background-repeat no-repeat
  background-size cover
  padding 2% 1% 10%
.menu
  display flex
  justify-content center
  padding 0
  margin 0
  &__item
    font-family 'Lato', Arial, sans-serif
    font-weight 400
    font-style normal
    font-size 1.6rem
    margin 0 1vw
    padding 8px 15px
    background rgba(75, 75, 75, 0.5)
    text-align center
    border-radius 5px 5px 0 0
    border rgb(40, 40, 40) solid 2px
    border-bottom 0
    cursor pointer
    text-decoration none
    color #F3ECE8
    &:hover
      background -webkit-linear-gradient(rgba(125, 125, 125, 0.5), rgba(45, 45, 45, 0.5))
    @media screen and (max-width 480px)
      padding 5px
      margin 0
      font-size 1.3rem
.header__board
  display grid
  grid-template-columns 1fr 2fr 1fr
  grid-template-rows 50px 80px auto
  grid-template-areas "emblem search search" "text text text" "audio audio audio"
  position relative
  width 100%
  padding 10px
  background rgba(75, 75, 75, 0.5)
  border rgb(40, 40, 40) solid 2px
  border-radius 5px 5px 0 0
  @media screen and (max-width 800px)
    grid-template-rows auto
.header__emblem
  display inline-block
  grid-area emblem
  background url('../../images/emblem.png') no-repeat 50% 50%
  background-size cover
  height 80px
  width 80px
  @media screen and (max-width 480px)
    height 50px
    width 50px
.header__text
  display inline-block
  grid-area text
  align-self start
  font-family 'Lato', Arial, sans-serif
  font-weight 200
  font-style italic
  font-size 4.5rem
  color #F3ECE8
  text-align center
.header__search
  grid-area search
  justify-self end
  align-self start